<div class="category-card">
  <div class="title">
    <%= categoryObject.category %>
  </div>
  <a href="/categories/<%= categoryObject.id %>/edit">
    <img src="/edit-button-black.svg" alt="Edit Category">
  </a>
</div>