<div class="category-card">
  <a class="title" href="/components#category-id-<%= categoryObject.id %>">
    <%= categoryObject.category %>
  </a>
  <a href="/categories/<%= categoryObject.id %>/edit" class="edit-button">
    <img src="/edit-button-black.svg" alt="Edit Category">
  </a>
</div>