<div class="header">
  <div class="brand">
    <img src="/brand-icon.svg" alt="Brand Icon" />
    <div class="name">Robotics Inventory</div>
  </div>
  <div class="nav">
    <a href="/">
      <div class="nav-item <%= active==='home'? 'active-nav-item' : '' %>">
        <img src="/home-icon.svg" alt="Home">
        <div class="name">Home</div>
      </div>
    </a>
    <a href="/categories">
      <div class="nav-item <%= active==='categories'? 'active-nav-item' : '' %>">
        <img src="/categories-icon.svg" alt="Home">
        <div class="name">Categories</div>
      </div>
    </a>
    <a href="components">
      <div class="nav-item <%= active==='components'? 'active-nav-item' : '' %>">
        <img src="/components-icon.svg" alt="Home">
        <div class="name">Components</div>
      </div>
    </a>
  </div>
</div>