<div class="header">
  <div class="brand">
    <img src="/brand-icon.svg" alt="Brand Icon" />
    <div class="name">Robotics Inventory</div>
  </div>
  <div class="nav">
    <a href="/">
      <div class="nav-item active-nav-item">
        <img src="/home-icon.svg" alt="Home">
        Home
      </div>
      <div class="nav-item">
        <img src="/categories-icon.svg" alt="Home">
        Categories
      </div>
      <div class="nav-item">
        <img src="/components-icon.svg" alt="Home">
        Components
      </div>
    </a>
  </div>
</div>