<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robotics Inventory - Components</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("./partials/header", {active:"components"}) %>
    <div class="content-container">
      <div class="components-section">
        <div class="top-row">
          <div class="section-title">Components</div>
          <div class="top-row-right">
            <div class="field-container">
              <input type="text" name="searchQuery" placeholder="Search">
              <div class="icon-button" style="padding-left: 0.5rem !important; padding-right: 0.5rem !important;">
                <img src="/search-icon-white.svg" alt="Search">
              </div>
            </div>
            <%- include("./partials/buttons/add-item", {link : "/categories/new" }) %>
          </div>
        </div>
      </div>
    </div>
</body>

</html>