@font-face {
  font-family: "Geist";
  src: url("./Geist.ttf") format("truetype");
}

* {
  font-family: "Geist";
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: unset;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #000000;
  padding: 0.5rem 0.75rem;
  position: sticky;
  top: 0;
  background-color: #F5F5F5;
  z-index: 10;
}

.header>.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.header>.brand>.name {
  font-weight: 600;
  font-size: 1.5rem;
}

.header>.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.1rem;
}

.header>.nav>a>.nav-item {
  padding: 0.65rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #F5F5F5;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 1.15rem;
  font-weight: 550;
}

.header>.nav>a>.active-nav-item {
  background-color: #EBEBEB;
  border-bottom-color: #000000;
}

@media screen and (max-width:768px) {
  .header {
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1rem;
  }
}

@media screen and (max-width:600px) {
  .header>.nav>a>.nav-item>.name {
    display: none;
  }

  .header>.nav>a>.active-nav-item>.name {
    display: block !important;
  }
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-container {
  background-color: #EBEBEB;
  border-bottom: 3px solid #000000;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding: 1.5rem;
}

.hero>.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero>.info>.title {
  font-weight: 600;
  font-size: 2rem;
}

.hero>.info>.graphic {
  display: none;
}

.hero>.info>.subtext {
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero>.graphic {
  border: 3.5px solid #000000;
  padding: 1.5rem;
  background-color: #F5F5F5;
}

.explore-button {
  background-color: #303030;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.6rem 1.5rem;
}

@media screen and (max-width:600px) {
  .hero {
    width: 100%;
    flex-direction: column;
  }

  .hero>.info {
    align-items: center;
  }

  .hero>.info>.title {
    font-size: 1.75rem;
  }

  .hero>.info>.graphic {
    display: block;
    border: 3.5px solid #000000;
    margin: 1.5rem;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
  }

  .hero>.info>.graphic>img {
    width: 60%;
  }

  .hero>.info>.subtext {
    font-size: 1rem;
  }

  .hero>.graphic {
    display: none;
  }
}

.usefulness-section {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 1.5rem;
  padding-top: 2.25rem;
}

.section-title {
  font-size: 1.375rem;
  font-weight: 600;
}

.usefulness-section>.cards-grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.25rem;
}

.usefulness-section>.cards-grid>.card {
  border: 3px solid #000000;
  box-shadow: 4px 4px 0px #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  transition: all ease-in 0.1s;
}

.usefulness-section>.cards-grid>.card:hover {
  box-shadow: 6px 6px 0px #303030;
  transform: translateY(-2px);
}

.usefulness-section>.cards-grid>.card>.title {
  font-weight: bold;
  font-size: 1.125rem;
}

.usefulness-section>.cards-grid>.card>.subtext {
  text-align: center;
  font-weight: 500;
  flex: 1;
}

.technical-section {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 1.5rem;
  padding-top: 1rem;
}

.technical-section>.cards-grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.25rem;
}

.technical-section>.cards-grid>.card {
  border: 3px solid #000000;
  box-shadow: 4px 4px 0px #303030;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  transition: all ease-in-out 0.1s;
}

.technical-section>.cards-grid>.card:hover {
  box-shadow: 6px 6px 0px #303030;
  transform: translateY(-2px);
}

.technical-section>.cards-grid>.card>.title {
  font-weight: bold;
  font-size: 1.125rem;
}

ul,
li {
  margin: 0;
  padding: 0;
  margin-left: 0.75rem;
}

ul {
  list-style-type: square;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0rem 1.5rem;
}

.black-line {
  height: 3px;
  background-color: #000000;
  flex: 1;
}

.footer>.text {
  border: 3px solid #000000;
  box-shadow: 3px 3px 0px #303030;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width:600px) {
  .footer {
    width: 100%;
  }

  .footer>.text {
    font-size: 0.9rem;
  }
}

.categories-section {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 1.5rem;
  padding-top: 2.25rem;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-button {
  background-color: #303030;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.6rem 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.add-button>img {
  width: 1.25rem;
  margin-bottom: 1px;
}

.cards-flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: center;
  margin-top: 2.5rem;
}

@media screen and (max-width:600px) {
  .cards-flex-wrap-container {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 1.5rem;
  }

  .category-card>.title {
    flex: 1;
  }
}

.category-card {
  border: 3px solid #000000;
  box-shadow: 4px 4px 0px #303030;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all ease-in-out 0.1s;
}

.category-card:hover {
  box-shadow: 6px 6px 0px #303030;
  transform: translateY(-2px);
}

.category-card>.title {
  font-weight: 600;
  font-size: 1.125rem;
  padding: 1.25rem 0rem;
  padding-left: 1rem;
}

.category-card>.edit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  padding-left: 0;
  padding-right: 0.5rem;
}

.category-card>.edit-button>img {
  transition: all ease-in-out 0.1s;
  padding: 0.5rem;
}

.category-card:hover>a>img {
  scale: 1.1;
}

.empty-alert {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2rem;
}

.thats-all-for-now {
  margin-top: 4rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.125rem;
}

.thats-all-for-now>img {
  height: 1.4rem;
}

.form-container {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #000000;
  box-shadow: 5px 5px 0px #303030;
  width: 450px;
  padding: 2rem;
}

@media screen and (max-width:600px) {
  .form-container {
    width: 93%;
  }
}

.form-container>.title {
  font-size: 1.375rem;
  font-weight: 600;
}

form {
  width: 100%;
}

.category-form {
  margin-top: 3rem;
}

.field-container {
  width: 100%;
  padding: 3px;
  background-color: #CDCDCD;
  display: flex;
  flex-direction: row;
}

.field-container:focus-within {
  background-color: #A5A5A5;
}

select {
  all: unset;
}

textarea {
  height: 6rem;
}

input,
select,
textarea {
  background-color: #EBEBEB;
  color: black;
  font-size: 1.125rem;
  padding: 0.25rem 0.5rem;
  flex: 1;
  border: 3px solid #000000;
  width: 60%;
}

button {
  all: unset;
}

label {
  font-size: 1.125rem;
  font-weight: 500;
  width: 7rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.reset-button {
  background-color: #D4D4D4;
  color: black;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.6rem 1.25rem;
  text-align: center;
}

.form-container>form>.button-group>.reset-button {
  flex: 1;
}

.form-container>form>.button-group>.submit-button {
  background-color: #303030;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.6rem 1.25rem;
  flex: 1;
  text-align: center;
}

.go-back-button-container {
  margin-top: 3rem;
}

.errors-container {
  width: 100%;
  margin-top: 2rem;
  background-color: #ffd3d3;
  padding: 0.75rem;
  border: 2px solid #ffb4b4;
}

.errors-container>.title {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.deletion-form-section {
  width: 100%;
  margin-top: 2rem;
  background-color: #ebebeb;
  padding: 0.5rem;
  border: 2px solid #dcdcdc;
}

.deletion-form-section>.button-group {
  margin-top: 0 !important;
}


.deletion-form-section>.button-group>.field-container:focus-within {
  background-color: #ffb4b4;
}

.deletion-form-section .errors-container {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.components-section {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 1.5rem;
  padding-top: 2.25rem;
}

@media screen and (max-width:768px) {
  .components-section .section-title {
    display: none;
  }

  .components-section .top-row {
    justify-content: center;
  }
}


.top-row-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.components-section .top-row {
  border-bottom: 3px solid #000000;
  padding-bottom: 1rem;
}

.components-section .category-title {
  font-weight: bold;
  font-size: 1.275rem;
}

.category-container {
  margin-top: 2.5rem;
  scroll-margin-top: 120px;
}

@media screen and (max-width:768px) {

  .category-container {
    scroll-margin-top: 270px;
  }
}

.components-card-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.25rem;
}

.component-card {
  border: 3px solid #000000;
  box-shadow: 4px 4px 0px #303030;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all ease-in-out 0.1s;
}

.component-card:hover {
  box-shadow: 6px 6px 0px #303030;
  transform: translateY(-2px);
}

.component-card .title-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  flex: 1;
  padding-bottom: 0.5rem;
}

.component-card .name {
  font-weight: bold;
  font-size: 1.125rem;
  flex: 1;
}

.component-card .quantity {
  background-color: #464646;
  color: white;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
}

.component-card .price-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.component-card .price {
  color: #464646;
  font-weight: bold;
  flex: 1;
  font-size: 1.1rem;
  height: 100%;
  align-content: flex-end;
}

.component-card .edit-button {
  padding-left: 0.75rem;
  padding-top: 0.75rem;
}

.component-card img {
  width: 1.25rem;
  transition: all ease-in-out 0.1s;
}

.component-card:hover img {
  scale: 1.1;
}

.component-details-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1200px;
  padding: 1.5rem;
  padding-top: 2.25rem;
  gap: 1.125rem;
}

.component-details-section .component-name {
  margin-top: 1rem;
  font-size: 1.375rem;
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.category-chip {
  background-color: #303030;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.25rem 0.375rem;
}

.quantity-chip {
  background-color: #D4D4D4;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.25rem 0.375rem;
}

.component-description {
  font-size: 1.125rem;
  font-weight: 500;
}

.component-price {
  font-weight: 800;
  font-size: 1.25rem;
  color: #303030;
}

.component-details-section .button-group {
  border-bottom: 3px solid #000000;
  width: 100%;
  padding-bottom: 1rem;
}

.component-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: unset;
  border: unset;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

#delete-dialog-box .form-container {
  background-color: #F5F5F5;
  width: 350px;
  padding: 1.5rem;
}

#delete-dialog-box .flex-row {
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
}

#delete-dialog-box .flex-row>.title {
  font-size: 1.375rem;
  font-weight: 600;
  flex: 1;
}

#delete-dialog-box>.deletion-form {
  padding: 0;
  background-color: unset;
  border: unset;
}

#close-dialog-box>img {
  width: 1.75rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}